<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="icon" th:href="@{/icon/veterinario.png}">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<meta charset="ISO-8859-1">
<title>Edit user</title>
</head>

<body>
	<div th:replace="~{fragments :: header}"></div>
	<br>
	<form th:action="@{/users/addVeterinary}" th:object="${user}"
		method="post" style="text-align: center; width: 500px; margin: auto;">

		<h1 th:text="${user.id != 0} ? 'Edit user' : 'New veterinary'">New User</h1>

		<input type="hidden" th:field="*{id}" id="id"> <br>
		<div class="form-group">
			<label>Name: </label> <input type="text" class="form-control"
				th:field="*{name}" placeholder="Name" id="name" required />
		</div>
		<br>
		<div class="form-group">
			<label>Surname: </label> <input type="text" class="form-control"
				th:field="*{surname}" placeholder="Surname" id="surname" required />
		</div>
		<br>
		<div class="form-group" th:if="*{id!=0}">
			<label>Username: </label> <input type="text" readonly="readonly"
				class="form-control" th:field="*{username}" placeholder="Username"
				id="username" required />
		</div>
		<div class="form-group" th:if="*{id==0}">
			<label>Username: </label> <input type="text" class="form-control"
				th:field="*{username}" placeholder="Username" id="username" required />
			<div th:if="${error!=null}" class="alert alert-danger">The
				username already exist</div>
		</div>
		<br>
		<div class="form-group">
			<label>Password </label> <input type="password" class="form-control"
				th:field="*{password}" placeholder="Password" id="password1" name="password1"
				minlength="6" required />
		</div>
		<br>
		<div class="form-group">
            <label>Repeat password </label> <input type="password" id="password2"
                name="password2" placeholder="Repeat password" oninput="checkPassword()" class="form-control" required>
        </div>
		<script>
			function checkPassword() {
				var password1 = document.getElementById("password1").value;
				var password2 = document.getElementById("password2").value;
				if (password1 != password2) {
					document.getElementById("password2").setCustomValidity(
							"Las contraseñas no coinciden");
				} else {
					document.getElementById("password2").setCustomValidity("");
				}
			}
		</script>

	<div class="form-group">
		<input type="hidden" class="form-control" th:field="*{role}" id="role"
			required />
	</div>

	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users/listUsers}">
		<button type="button" class="btn btn-primary">Back</button>
	</a>
	</form>
	<br>
	<br>
	<div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
</body>
</html>