<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<link rel="icon" th:href="@{/icon/veterinario.png}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Admin panel</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">



	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/users/listUsers}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">
					Admin <sup>Panel</sup>
				</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Heading -->
			<div class="sidebar-heading">Options</div>

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo"> <i
					class="fas fa-fw fa-cog"></i> <span>Veterinary</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Actions</h6>
						<a class="collapse-item" href="buttons.html">New veterinary</a>
					</div>
				</div></li>


			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>


					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a> <!-- Dropdown - Messages -->
							<div
								class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text"
											class="form-control bg-light border-0 small"
											placeholder="Search for..." aria-label="Search"
											aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div></li>

						<div class="topbar-divider d-none d-sm-block"></div>


						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small"
								th:text="${#authentication.name}"></span>

						</a> <!-- Dropdown - User Information -->
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#" data-toggle="modal"
									data-target="#logoutModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
							</div></li>

					</ul>

				</nav>
				<!-- End of Topbar -->
				<form th:action="@{/users/addVeterinary}" th:object="${user}"
					method="post"
					style="text-align: center; width: 500px; margin: auto;">

					<h2 th:text="${user.id != 0} ? 'Edit user' : 'New veterinary'">New
						User</h2>

					<input type="hidden" th:field="*{id}" id="id"> <br>
					<div class="form-group">
						<label>Name: </label> <input type="text" class="form-control"
							th:field="*{name}" placeholder="Name" id="name" required />
					</div>
					<div class="form-group">
						<label>Surname: </label> <input type="text" class="form-control"
							th:field="*{surname}" placeholder="Surname" id="surname" required />
					</div>
					<div class="form-group" th:if="*{id!=0}">
						<label>Username: </label> <input type="text" readonly="readonly"
							class="form-control" th:field="*{username}"
							placeholder="Username" id="username" required />
					</div>
					<div class="form-group" th:if="*{id==0}">
						<label>Username: </label> <input type="text" class="form-control"
							th:field="*{username}" placeholder="Username" id="username"
							required />
						<div th:if="${error!=null}" class="alert alert-danger">The
							username already exist</div>
					</div>
					<div class="form-group">
						<label>Password </label> <input type="password"
							class="form-control" th:field="*{password}"
							placeholder="Password" id="password1" name="password1"
							minlength="6" required />
					</div>
					<div class="form-group">
						<label>Repeat password </label> <input type="password"
							id="password2" name="password2" placeholder="Repeat password"
							oninput="checkPassword()" class="form-control" required>
					</div>
					<script>
						function checkPassword() {
							var password1 = document
									.getElementById("password1").value;
							var password2 = document
									.getElementById("password2").value;
							if (password1 != password2) {
								document.getElementById("password2")
										.setCustomValidity(
												"Las contraseñas no coinciden");
							} else {
								document.getElementById("password2")
										.setCustomValidity("");
							}
						}
					</script>

					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{role}"
							id="role" required />
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					<a sec:authorize="hasAuthority('ADMIN')"
						th:href="@{/users/listUsers}">
						<button type="button" class="btn btn-primary">Back</button>
					</a>
					<br>
					<br>
				</form>
				<div class="alert alert-success" th:if="${success != null}"
					th:text="${success}"></div>
				<div class="alert alert-warning" th:if="${warning != null}"
					th:text="${warning}"></div>
				<div class="alert alert-info" th:if="${info != null}"
					th:text="${info}"></div>
				<!-- End of Content Wrapper -->

			</div>
			<!-- End of Page Wrapper -->

			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top"> <i
				class="fas fa-angle-up"></i>
			</a>

			<!-- Logout Modal-->
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ready to
								Leave?</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">Select "Logout" below if you are
							ready to end your current session.</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Cancel</button>
							<a class="btn btn-primary" href="login.html">Logout</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Bootstrap core JavaScript-->
			<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
			<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

			<!-- Core plugin JavaScript-->
			<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

			<!-- Custom scripts for all pages-->
			<script th:src="@{/js/sb-admin-2.min.js}"></script>

			<!-- Page level plugins -->
			<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

			<!-- Page level custom scripts -->
			<script th:src="@{/js/demo/chart-area-demo.js}"></script>
			<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</body>

</html>