<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="icon" th:href="@{/icon/veterinario.png}">
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.css">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<title>Login</title>
</head>
<body>
	<div th:replace="~{fragments :: header}"></div>
	<br>
	<div style="text-align:center;width: 500px;margin: auto;">
	<h1>Login</h1>
	</div>
	<br>
	<form action="form-signin" th:action="@{/auth/login}" th:object="${user}" method="POST" style="text-align:center;width: 500px;margin: auto;">
		<input type="hidden" name="${csrf.parameterName}" value="${csrf.token}"/> 
			<label for="inputEmail">Username</label> 
			<input type="text" class="form-control" placeholder="Your username here" name="username" id="username" /> 
			<br> 
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" placeholder="Your password here" name="password" id="password" /> <br>
			
			<div th:if="${error!=null}" class="alert alert-danger" role="alert">Username or password invalid</div>
			<div th:if="${logout!=null}" class="alert alert-success" role="alert">Logout has been succesful</div>
			<button type="submit" class="btn btn-primary">Login</button>
	</form>
	<br>
<br><br><br>
</html>