<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link rel="icon" th:href="@{/icon/veterinario.png}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}">
<meta charset="ISO-8859-1">
<title>Users list</title>
</head>
<body>
	<div th:replace="~{fragments :: header}"></div>
	<br>

	<div class="panel panel-default">
		<div class="panel-heading"></div>
			<div style="margin: 40px">
		<table class="table table-striped table-bordered">
			<thead class="thead-light">
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Role</th>
				</tr>
			</thead>

			<tbody th:each="user: ${users}">
				<tr>
					<th th:text=${user.username}></th>
					<th th:text=${user.name}></th>
					<th th:text=${user.surname}></th>
					<th th:text=${user.role}></th>
					<th>
						<a th:href="@{/users/deleteUser/}+ ${user.id}" th:onclick="return confirm('&iquestDou you want to delete this user?');">
                            <button type="button" class="btn btn-default"  data-toggle="tooltip" data-placement="bottom" title="Delete user">
                            	<i class="fa-sharp fa-solid fa-trash"></i>
                            </button>
						</a> 
						<a th:href="@{/users/formUser/}+ ${user.username}">
							<button type="button" class="btn btn-default"  data-toggle="tooltip" data-placement="bottom" title="Edit user">
								<i class="fa-sharp fa-solid fa-pen-to-square"></i>
							</button>
						</a>
						<a th:href="@{/users/activateUser/}+ ${user.username}" th:if="${user.enabled == false}">
							<button type="button" class="btn btn-default"  data-toggle="tooltip" data-placement="bottom" title="Activate user">
								<i class="fa-solid fa-user-xmark"></i>
							</button>
						</a>
						<a th:href="@{/users/activateUser/}+ ${user.username}" th:if="${user.enabled == true}">
							<button type="button" class="btn btn-default"  data-toggle="tooltip" data-placement="bottom" title="Deactivate user">
								<i class="fa-solid fa-user-check"></i>
							</button>
						</a>
					</th>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
	<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>
					<div class="alert alert-danger" th:if="${error != null}"
						th:text="${error}"></div>
					<div class="alert alert-warning" th:if="${warning != null}"
						th:text="${warning}"></div>
					<div class="alert alert-info" th:if="${info != null}"
						th:text="${info}"></div>
		
	<div style="text-align:center;width: 500px;margin: auto;">
	</div>
	<br>
	
</body>
</html>